h2 {
    color:aquamarine;
}
h2 {
    color:#adff2f;
}

body {
    background-color: rgb(8, 168, 160);
}

#hoje {
    background-color: red;
}

#aprendizado {
    color: orange;
}

.list-style {
    background-color:blue;
    color: white;
}

h1 {
    font-size: 65px;
    color: orange;

}

lista {
    background-color:#adff2f;
}

.clListaP {
    background-color: blue;
}