
.super-mario
{
         width: 150px;
         position: absolute;
         z-index: 1;
}

.goomba
{
    width: 150px;
    position: absolute;
    top:300px;
    z-index: 2;
}

.baloon
{
    width: 200px;
    position: absolute;
    z-index: 3;
    top:475px;
    left: 225px;
}

.bowser
{
    width: 175px;
    position: absolute;
    z-index: 4;
    top:575px;
    left: 425px;
}

.word
{
    position: absolute;
    z-index: 5;
    top:500px;
    left: 240px;
}